version: '3.1'

services:

  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: dbvideos

    volumes:
      - ./create-db.js:/docker-entrypoint-initdb.d/create-db.js
      - ./home/otavio/projetos/docker-volumes/StreamVideos:/data/db

    networks:
      - intranet

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
    networks:
      - intranet

networks:
  intranet:
    driver: bridge

volumes:
  StreamVideos:
